highway_flows.json
[
    {
        "id": "88545fc7dfab6038",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "19131ecbafde1dad",
        "type": "mqtt in",
        "z": "88545fc7dfab6038",
        "name": "Weight Sensor",
        "topic": "NAU_TOPIC_516_T9",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "40d5e391f4fea752",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "7d25333ebc8aa045",
                "d5f53d931fce963c"
            ]
        ]
    },
    {
        "id": "7d25333ebc8aa045",
        "type": "debug",
        "z": "88545fc7dfab6038",
        "name": "OriginData_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "38b9edb5f26a95c7",
        "type": "ui_gauge",
        "z": "88545fc7dfab6038",
        "name": "",
        "group": "d6187803a163854f",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Weight",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "55",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "d5f53d931fce963c",
        "type": "json",
        "z": "88545fc7dfab6038",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "8e91d1a3103a24c2",
                "7850418c18e6b5ce"
            ]
        ]
    },
    {
        "id": "8e91d1a3103a24c2",
        "type": "debug",
        "z": "88545fc7dfab6038",
        "name": "input_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "af94321e2d9dd70f",
        "type": "ui_chart",
        "z": "88545fc7dfab6038",
        "name": "",
        "group": "d6187803a163854f",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Line Chart of Weight",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ca4444",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ee5353",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7850418c18e6b5ce",
        "type": "function",
        "z": "88545fc7dfab6038",
        "name": "extract_number",
        "func": "// 输入数据\nvar inputMsg = msg.payload;\nvar count = 0;\n\n// 解析 JSON\nvar json = JSON.parse(inputMsg);\n\n// 获取 \"nau_i\" 和 \"nau_f\" 字段的值\nvar nau_i = json.nau_i;\nvar nau_f = json.nau_f;\n\n// 计算浮点数\nvar result = nau_i + nau_f / 10000 - 112;\n\n// 保留两位小数\nvar resultRounded = parseFloat(result.toFixed(2));\n\n// 创建新的消息对象，将计算结果作为 payload\nvar outputMsg = { payload: resultRounded };\n\n// 返回新的消息对象\nreturn outputMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// 部署节点后，此处添加的代码将运行一次。 \n// 输入数据\n",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "38b9edb5f26a95c7",
                "af94321e2d9dd70f",
                "2950135b14241f24",
                "fa9104e34e50f9c1"
            ]
        ]
    },
    {
        "id": "2950135b14241f24",
        "type": "debug",
        "z": "88545fc7dfab6038",
        "name": "output_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "69644c7b2c09c843",
        "type": "mqtt out",
        "z": "88545fc7dfab6038",
        "name": "Servo",
        "topic": "SERVO_TOPIC_516_T9",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "40d5e391f4fea752",
        "x": 490,
        "y": 660,
        "wires": []
    },
    {
        "id": "2e2ab6abfb9f455d",
        "type": "ui_button",
        "z": "88545fc7dfab6038",
        "name": "",
        "group": "df83678df2bfd011",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "open",
        "topicType": "msg",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "69644c7b2c09c843",
                "9488ae269899d17e",
                "5775130845a7d9d8"
            ]
        ]
    },
    {
        "id": "d693e65375e05442",
        "type": "ui_button",
        "z": "88545fc7dfab6038",
        "name": "",
        "group": "df83678df2bfd011",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "str",
        "topic": "close",
        "topicType": "msg",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "69644c7b2c09c843",
                "9488ae269899d17e"
            ]
        ]
    },
    {
        "id": "fa9104e34e50f9c1",
        "type": "function",
        "z": "88545fc7dfab6038",
        "name": "charge",
        "func": "var weight = msg.payload;\nvar response;\n\nif (weight >= 6 && weight < 20) {\n    response = {\n        \"vehicleType\": \"Motocycle\",\n        \"charge\": 3,\n        \"chargeString\": \"$3\"\n    };\n} else if (weight >= 20 && weight < 55) {\n    response = {\n        \"vehicleType\": \"Car\",\n        \"charge\": 7,\n        \"chargeString\": \"$7\"\n    };\n} else if (weight <= 6) {\n    response = {\n        \"vehicleType\": \"No Vehicle\",\n        \"charge\": 0,\n        \"chargeString\": \"0\"\n    };    \n} else {\n    response = {\n        \"vehicleType\": \"Undefined\",\n        \"charge\": 0,\n        \"chargeString\": \"Undefined\"\n    };\n}\n\nmsg.payload = response;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 360,
        "wires": [
            [
                "139c8d14129bec50",
                "4d09541d4a853a1f",
                "63a6fd30e146b967",
                "2dfc6b0f2e98fbbc"
            ]
        ]
    },
    {
        "id": "139c8d14129bec50",
        "type": "debug",
        "z": "88545fc7dfab6038",
        "name": "charge_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "4d09541d4a853a1f",
        "type": "ui_text",
        "z": "88545fc7dfab6038",
        "group": "8b25cfc05b755102",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Vehicle Type",
        "label": "Vehicle Type",
        "format": "{{msg.payload.vehicleType}}",
        "layout": "row-spread",
        "className": "",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "63a6fd30e146b967",
        "type": "ui_text",
        "z": "88545fc7dfab6038",
        "group": "8b25cfc05b755102",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "Charge Fee",
        "label": "Charge Fee",
        "format": "{{msg.payload.chargeString}}",
        "layout": "row-spread",
        "className": "",
        "x": 1090,
        "y": 420,
        "wires": []
    },
    {
        "id": "9488ae269899d17e",
        "type": "ui_led",
        "z": "88545fc7dfab6038",
        "order": 1,
        "group": "df83678df2bfd011",
        "width": "0",
        "height": "0",
        "label": "STATUS",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "5775130845a7d9d8",
        "type": "function",
        "z": "88545fc7dfab6038",
        "name": "OpenCloseStatus",
        "func": "// if (msg.payload === \"true\") {\n//     context.set(\"open\", true);\n// } else if (msg.payload === \"false\") {\n//     context.set(\"close\", true);\n// }\n\ncontext.set(\"open\", true);\n\nvar openMsg = context.get(\"open\");\n// var closeMsg = context.get(\"close\");\n\nif (openMsg !== undefined) {\n    var result = true;\n\n    // 重置变量\n    context.set(\"open\", undefined);\n    \n    return { payload: result };\n    \n}\nreturn false;\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 820,
        "wires": [
            [
                "244e8afae2eab878",
                "2dfc6b0f2e98fbbc"
            ]
        ]
    },
    {
        "id": "244e8afae2eab878",
        "type": "debug",
        "z": "88545fc7dfab6038",
        "name": "OpenCloseStatus_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 920,
        "wires": []
    },
    {
        "id": "2dfc6b0f2e98fbbc",
        "type": "function",
        "z": "88545fc7dfab6038",
        "name": "combain",
        "func": "// // 根据输入的消息类型，将其存储到context中\n// if (typeof msg.payload === \"boolean\") {\n//     context.set(\"booleanInput\", msg.payload);\n// } else if (typeof msg.payload.charge === \"number\") {\n//     context.set(\"numberInput\", msg.payload.charge);\n// }\n\n// // 从context中获取两个输入的值\n// var booleanInput = context.get(\"booleanInput\");\n// var numberInput = context.get(\"numberInput\");\n\n// // 如果已经收到了两个输入，进行你的处理逻辑\n// if (booleanInput !== undefined && numberInput !== undefined) {\n//     // 你的处理逻辑在这里，例如：\n//     var result = 7;\n\n//     // 将结果作为新消息的payload\n//     var msgOut = { payload: result };\n\n//     // 重置变量\n//     context.set(\"booleanInput\", undefined);\n//     context.set(\"numberInput\", undefined);\n\n//     // 返回新消息\n//     return msgOut;\n// }\n\n// // 如果还没有收到两个输入，不发送任何消息\n// return null;\n\n// 根据输入的消息类型，将其存储到context中\nif (typeof msg.payload === \"boolean\") {\n    context.set(\"booleanInput\", msg.payload);\n} else if (typeof msg.payload.charge === \"number\") {\n    context.set(\"numberInput\", msg.payload.charge);\n}\n\n// 从context中获取两个输入的值\nvar booleanInput = context.get(\"booleanInput\");\nvar numberInput = context.get(\"numberInput\");\n\n// 如果已经收到了两个输入，进行你的处理逻辑\nif (booleanInput !== undefined && numberInput !== undefined) {\n    // 你的处理逻辑在这里，例如：\n    var result = numberInput;\n\n    // 将结果作为新消息的payload\n    var msgOut = { payload: result };\n\n    // 重置变量\n    context.set(\"booleanInput\", undefined);\n    context.set(\"numberInput\", undefined);\n\n    // 返回新消息\n    return msgOut;\n}\n\n// 如果还没有收到两个输入，不发送任何消息\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 820,
        "wires": [
            [
                "e6d0298a8a0e3edc",
                "421477608114a03c",
                "6ed6fad76cb78572"
            ]
        ]
    },
    {
        "id": "e6d0298a8a0e3edc",
        "type": "debug",
        "z": "88545fc7dfab6038",
        "name": "combain_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 880,
        "wires": []
    },
    {
        "id": "421477608114a03c",
        "type": "function",
        "z": "88545fc7dfab6038",
        "name": "addition",
        "func": "// 获取上一个累加值\nvar sum = context.get(\"sum\") || 0;\n\n// 获取当前的输入值\nvar input = msg.payload;\n\n// 将输入值累加到总和中\nsum += input;\n\n// 将累加值存储回上下文\ncontext.set(\"sum\", sum);\n\n// 将累加值作为输出发送\nmsg.payload = sum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 720,
        "wires": [
            [
                "dcb22da80e6d3bd4",
                "c2f98615a81540d1",
                "ea9f42e498007d02",
                "37dcfb3093484908"
            ]
        ]
    },
    {
        "id": "dcb22da80e6d3bd4",
        "type": "ui_chart",
        "z": "88545fc7dfab6038",
        "name": "",
        "group": "8b25cfc05b755102",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Total Charge",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d34545",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e74040",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c2f98615a81540d1",
        "type": "debug",
        "z": "88545fc7dfab6038",
        "name": "addition_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 780,
        "wires": []
    },
    {
        "id": "ea9f42e498007d02",
        "type": "function",
        "z": "88545fc7dfab6038",
        "name": "ChargeString",
        "func": "msg.payload = \"$\" + msg.payload.toString();\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 700,
        "wires": [
            [
                "e3ac667fcd872464",
                "9abcf7b437dbdc61"
            ]
        ]
    },
    {
        "id": "e3ac667fcd872464",
        "type": "ui_text",
        "z": "88545fc7dfab6038",
        "group": "8b25cfc05b755102",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "Total Charge",
        "label": "Total Charge",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1490,
        "y": 640,
        "wires": []
    },
    {
        "id": "6ed6fad76cb78572",
        "type": "mqtt out",
        "z": "88545fc7dfab6038",
        "name": "Charge",
        "topic": "CHARGE_TOPIC_516_T9",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "40d5e391f4fea752",
        "x": 1100,
        "y": 820,
        "wires": []
    },
    {
        "id": "9abcf7b437dbdc61",
        "type": "debug",
        "z": "88545fc7dfab6038",
        "name": "ChargeString_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 700,
        "wires": []
    },
    {
        "id": "c85a4b905264d5de",
        "type": "ui_template",
        "z": "88545fc7dfab6038",
        "group": "d6187803a163854f",
        "name": "left",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<div style=\"width:200px\"><iframe allow=\"fullscreen\" frameBorder=\"0\" height=\"180\"\n        src=\"https://giphy.com/embed/DqdcEBaB7Qn8tE04S9/video\" width=\"300\"></iframe></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 210,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "06e7a55fa96b58d7",
        "type": "ui_template",
        "z": "88545fc7dfab6038",
        "group": "df83678df2bfd011",
        "name": "middle",
        "order": 5,
        "width": "0",
        "height": "0",
        "format": "<iframe src=\"https://giphy.com/embed/XbV2mrHs6ureBPUEuJ\" width=\"300\" height=\"300\" frameBorder=\"0\" class=\"giphy-embed\"\n        allowFullScreen></iframe>\n<p><a href=\"https://giphy.com/gifs/trippy-car-psychedelic-XbV2mrHs6ureBPUEuJ\">via GIPHY</a></p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 210,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "37dcfb3093484908",
        "type": "ui_level",
        "z": "88545fc7dfab6038",
        "group": "8b25cfc05b755102",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#00b33c",
        "colorNormal": "#ebf2ff",
        "colorOff": "#595959",
        "min": 0,
        "max": "200",
        "segWarn": "25",
        "segHigh": "150",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1270,
        "y": 620,
        "wires": []
    },
    {
        "id": "3ca7f8936a5efbc1",
        "type": "ui_spacer",
        "z": "88545fc7dfab6038",
        "name": "spacer",
        "group": "130c44fe7a8bd206",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "40d5e391f4fea752",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d6187803a163854f",
        "type": "ui_group",
        "name": "Weight",
        "tab": "c19ddfcf.06e82",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df83678df2bfd011",
        "type": "ui_group",
        "name": "Boom Barrier",
        "tab": "c19ddfcf.06e82",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b25cfc05b755102",
        "type": "ui_group",
        "name": "Charge System",
        "tab": "c19ddfcf.06e82",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "130c44fe7a8bd206",
        "type": "ui_group",
        "name": "Demo",
        "tab": "af3684cb7774e2c2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c19ddfcf.06e82",
        "type": "ui_tab",
        "name": "Highway",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "af3684cb7774e2c2",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]